.button {
    background-color: #EB58BE; 
    color: black;              
    padding: 10px 20px;         
    border-radius: 8px;        
    cursor: pointer;          
    display: inline-flex;      
    align-items: center;
    justify-content: center;
    font-weight: bold;
    transition: transform 0.2s, box-shadow 0.2s;
}

.button:hover {
    transform: translateY(-2px);                  
    box-shadow: 0 4px 10px rgba(235, 88, 190, 0.4); 
}

