.discutionContainer {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 96%;
}

.discutionTitle {
    font-size: 1.2rem;
    margin-bottom: 25px;
    margin-top: 25px;
    color: #EB58BE;
}

.discutionCard {
    background-color: #6D307C80; 
    border-radius: 12px;
    padding: 12px;
    cursor: pointer;
    transition: transform 0.2s, box-shadow 0.2s;
    margin-right: 3%;
}

.marginPara {
    margin: 0% 5% 0% 5%;
}

.discutionCard, a{
    text-decoration:none;
    color : white
}

.discutionCard:hover {
    transform: translateY(-2px);
    box-shadow: 0 6px 15px rgba(109, 48, 124, 0.4);
}

.discutionCard h3 {
    margin: 0;
    color: rgb(255, 255, 255);
    font-size: 25px;
    margin-left: 2%;
}

.descriptionPost {
    margin: 2% 0% 2% 4%;
}

.discutionLoop{
    display: flex;
    gap: 6px;
    margin-top: 5px;
    font-size: 0.85rem;
    color: rgba(255, 255, 255, 0.7);
    align-items: center;
}
.postCount {
    margin-left: auto; 
    font-weight: bold;
    color: #EB58BE; 
}

.title {
    color: red;
}

.noFoundDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.noFound {
    margin: 0% 0% 2% 0%;
}