.footer {
    background-color: #6D307C80; 
    margin-top: 40px ;
    padding: 15px;
    text-align: center;
    color: white;
    font-size: 0.9rem;
    margin-top: auto;
    border-top: 1px solid #EB58BE;
    height: 50px;
}

.footer p {
    margin: 0;
    opacity: 0.8;
}
