.headerBanner {
    display: flex;          
    align-items: center;    
    gap: 1rem;              
    padding: 15px;
    background-color: #6D307C80; 
    border-bottom: 1px solid #EB58BE;
}

.leftContainer {
    display: flex;        
    justify-content: flex-end; 
    align-items: center;  
    padding: 10px;
    width: 100%; 
}