.header{
    display: flex;
    align-items: center;
    
    padding:15px
}
.logo {
    background: linear-gradient(to bottom, #ec4899, #d946f0);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    filter: drop-shadow(0 0 15px rgba(236, 72, 153, 0.4));
    -webkit-text-stroke: 0.5px rgba(236, 72, 153, 0.3);
    margin: 0;
    font-size: 3rem;
    line-height: 1; 
}
.textBlock {
    display: flex;
    flex-direction: column;
    gap: 0.3rem; 
}
.imgLogo{
    width: 80px;
    height: auto;
}

.forumContainer {
    display: flex;
    align-items: center; 
    gap: 1rem; 
    margin-top: -0.2rem; 
}


.forum {
    font-size: 1.2rem;
    font-weight: 300;
    letter-spacing: 0.3em;
    color: #f0abfc;
    text-shadow: 0 0 10px rgba(232, 121, 249, 0.3);
    white-space: nowrap;
}


.bar {
    flex: 1; 
    height: 2px; 
    background-color: #f0abfc; 
    opacity: 0.3; 
}
