.discutionPage {
    flex: 1;                   
    background: #6D307C80;
    border-radius: 15px;
    padding: 25px;
    margin: 0px 95px 20px 20px;
}
.contentPage {
    display: flex;
    gap: 30px;           
    align-items: flex-start;
    margin: 80px 0px 0px 32px;
}

.discutionTitle {
    margin: 25px;
    color:white
}

.postCard {
    background: #f4f4f4;
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 8px;
}

.reply {
    margin-left: 3rem;
}

.postName {
    display: flex;
    justify-content: space-between;
    font-size: 0.9rem;
    margin-bottom: 0.5rem;
}
.postUserName {
    font-weight: bold;
}

.buttonAddPost {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}
.aside {
    background-color: #6D307C80;
    border-radius: 15px;
    padding: 15px;
    color: white;
}

.returnPosts {
    font-size: 15px;
    color: rgba(255, 255, 255, 0.473)
}

.imgProfil {
    border-radius: 40px;
    width: 3%;
}

.profilDiv {
    margin-top: 3%;
    display: flex;
    align-items: center;
}

.descriptionPara {
    margin-left : 4%;
}

.date {
    font-size: 13px;
    color: grey;
}

.column {
    display: flex;
    flex-direction: column;
    margin-left: 1%;
}

.divAddComments {
    margin: 3% 0% 3% 5%;
}

.postsContainer {
    margin: 30px 10px 0px 35px;
}

.postComment {
    display: flex;
    flex-direction: column;
    width: 20%;
}
.inputComment {
    width: 100%;
    height: 80px;
    background: #6d307c67;
    border: none;
}
